@model HouseholdBudgeter.Models.Transaction

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Template/css")
@Scripts.Render("~/bundles/modernizr")
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"></h1>
                <div>
                    <h4>Transaction</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.User.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CategoryId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CategoryId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AccountId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccountId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ReconcileDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReconcileDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Amount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Amount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ReconcileAmount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReconcileAmount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsExpense)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsExpense)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsReconciled)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsReconciled)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Template/bootstrap")


