@model HouseholdBudgeter.Models.HouseholdInvitations

@{
    ViewBag.Title = "Details";
}


<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"></h1>
                <div>
                    <h4>HouseholdInvitation</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Household.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Household.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Invitecode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Invitecode)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Expired)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Expired)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsAccepted)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsAccepted)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit") |
                    @Html.ActionLink("Back to List", "Index")
                </p>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>



