@using HouseholdBudgeter.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/btn-social/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/zocial.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .form-control, input.btn {
            min-width: 100%;
        }

        body {
            background-position: center;
            background-image: url('../../images/dollar-499481_1920.jpg');
            background-size: 100%;
            background-repeat: no-repeat;
        }

        .container {
            animation-fill-mode: forwards;
            margin: 0 auto;
            margin-top: 100px;
            max-width: 800px;
            background-color: rgba(255, 255, 255, 0.9);
            border: 2px solid #444;
            border-radius: 10px;
        }

        .checkbox {
            margin-left: 24px;
        }
    </style>


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3><strong>Welcome to the Money Manager.</strong><br />
                            Use a local account to log in.</h3>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                                <strong class="pull-left">Username</strong>
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <strong class="pull-left">Password</strong>
                            </div>
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>
            </div>

            <div class="col-md-5">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @*Enable this once you have account confirmation enabled for password reset functionality*@
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
                <p>
                @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h3>
                        <input name="Email" type="hidden" value="Admin@HouseholdBudget.com">
                        <button type="submit" class="btn btn-primary">Try Demo Login</button>
                    </h3>
                }
                </p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>